/* CLASSES */
.audioControls {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.demosContainer {
    display: flex;
    flex-direction: column;
}

.demosContainer h3 {
    position: relative;
}

.demosContainer h3::after {
    background: linear-gradient(to right, #26024a, #5306a1, #065ea1, #09baeb);
    border-radius: 4px;
    bottom: -5px;
    content: '';
    height: 2px;
    left: 10%;
    position: absolute;
    width: 75%;
}

.downloadLink {
    color: rgb(1, 142, 93);
    display: flex;
    padding: 0;
    font-size: 1.75em;
}

.downloadLink:focus {
    outline: rgb(1, 142, 93);
}

.downloadLink:hover {
    border-color:rgb(1, 142, 93);
}

.playPause {
    display: flex;
    padding: 0;
    font-size: 1.5em;
}

.playPause:focus {
    outline: rgb(1, 142, 93);
}

.playPause:hover {
    border-color: rgb(1, 142, 93);
}

.sliderContainer {
    display: flex;
}

.trackSlider {
    appearance: none;
    background: linear-gradient(to right, #26024a, #5306a1, #065ea1, #09baeb);
    border-radius: 10px;
    border: solid 1px white;
    height: 7px;
}

.trackSlider::-webkit-slider-thumb {
    appearance: none;
    background-color: #6214e0;
    border: 1px solid white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
 }

 .trackSlider::-moz-range-thumb {
    appearance: none;
    border: 1px solid white;/*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
}