/* CLASSES */

.profileContainer {
    align-items: center;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
}

.profileContainer h3 {
    font-size: 1.75em;
    font-weight: bold;
    margin: .25em;
}

.profileContainer p {
    font-size: 1.75em;
    font-weight: bold;
    margin: .25em;
}

.profilePic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}


/* MEDIA QUERIES */

@media screen and (min-width: 769px) {
    .profileContainer > h3 {
        font-size: 3em;
    }

    .profileContainer > p {
        font-size: 2em;
    }
}