/* CLASSES */
.hamburgerButton {
    background: none;
    padding: .25em;
    position: absolute;
    left: 100%;
}

.hamburgerButton:focus {
    border: none;
    outline: none;
}

.hamburgerButton:hover {
    border: none;
}

.hamburgerContainer {
    background-color: black;
    display: flex;
    height: 100%;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: transform 300ms cubic-bezier(0.5, 0, .5, 1);
    top: 0;
    width: 30%;
    z-index: 1;
}

.showHamburgerContainer {
    transform: translateX(0%);
    transition: transform 300ms cubic-bezier(0.5, 0, .5, 1);
}

.hamburger {
    font-size: 1.5em;
}

.hamburgerMenu {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 100%;
    width: 100%;
}

/* ID */

#dark .hamburger {
    color: white;
}

#light .hamburger {
    color: black;
}


/* MEDIA QUERIES */