/* CLASSES */
.email {
    color: white;
}
.mediaIcon {
    color: white;
    font-size: 1.5em;
}

.navbarContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 75px;
    overflow: hidden;
    width: 100%;
}

.socialMediaLinksContainer {
    align-self: flex-end;
    display: flex;
    gap: 16px;
}

.switch {
    right: -75%;
}

.tab {
    background-color: black;
    padding: 0.5em;
}

.tab:focus {
    outline-color: white;
}

.tab:hover {
    border-color: white;
}

.tabsContainer {
    display: flex;
    justify-content: center;
    gap: 2%;
}


/* ID */

#instagram {
    background: linear-gradient(30deg, yellow, orange, red, pink, purple);
    border-radius: 5px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 300px) {
    .email {
        font-size: 1.25em;
    }

    .mediaIcon {
        font-size: 2em;
    }

    .socialMediaLinksContainer {
        gap: 16px;
    }
}

@media screen and (min-width: 480px) {
    .navbarContainer {
        z-index: 1;
    }
}

@media screen and (min-width: 769px) {
    .navbarContainer {
        flex-direction: row;
        z-index: 0;
    }

    .hamburgerContainer {
        display: none;
    }

    .socialMediaLinksContainer {
        justify-content: flex-start;
        align-self: center;
    }

    .tabsContainer {
        justify-content: flex-end;
        flex-grow: 1;
    }
}