/* CLASSES */
.email {
    color: white;
}
.mediaIcon {
    color: white;
    font-size: 1.5em;
}

.navbarContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 75px;
    overflow: hidden;
    width: 100%;
}

.socialMediaLinksContainer {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.switch {
    right: -75%;
}

.tab {
    background-color: black;
    padding: 0.5em;
}

.tab:focus {
    outline-color: white;
}

.tab:hover {
    border-color: white;
}

.tabsContainer {
    display: flex;
    justify-content: center;
    gap: 2%;
}


/* ID */

#facebook {
    color: white;
    background-color: rgb(17, 86, 233);
    border-radius: 5px;
    padding: 1px;
}

#instagram {
    background: linear-gradient(30deg, yellow, orange, red, pink, purple);
    border-radius: 5px;
}
/* MEDIA QUERIES */
@media screen and (min-width: 300px) {
    .email {
        font-size: 1.25em;
    }

    .mediaIcon {
        font-size: 2em;
    }

    .socialMediaLinksContainer {
        gap: 2%;
        width: 80%;
    }
}

@media screen and (min-width: 471px) {
    .socialMediaLinksContainer {
        width: 70%;
    }
}