/* CLASSES */
.footerContainer {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    gap: 3%;
    padding-right: 5%;
    width: 100%;
}
.footerContainer p {
    color: black;
    font-size: .75em;
}

.footerMedia {
    color: black;
}