.homeContainer {
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
}

#light .homeContainer h1{
    color: black;
}

#light .homeContainer h3 {
    color: black;
}

#dark .homeContainer h1 {
    color: white;
}

.aboutContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.aboutContainer > h3 {
    z-index: 1;
}

.aboutImg {
    opacity: .5;
    position: absolute;
    width: 100%;
}

.aboutMessage {
    z-index: 1;
}

#light .aboutMessage {
    color: black;
}

#dark .aboutMessage {
    color: white;
}