/* CLASSES */
.aboutContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.aboutImg {
    opacity: 1;
    width: 100%;
}

.aboutMessage {
    color: white;
}

.homeContainer {
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.homeContainer h1 {
    color: white;
}

.selectedWord {
    color: rgb(3, 123, 9);
    font-weight: bold;
}

.workContainer {
    background-color: rgb(2, 2, 114);
}

.workContainer > h3 {
    color: white;
}
/* IDS */


/* MEDIA QUERIES */
@media screen and (min-width: 480px) {
    .aboutContainer {
        width: 80%;
    }

    .homeContainer {
        width: 80%;
    }
}

@media screen and (min-width: 769px) {
    .aboutMessage {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .homeContainer {
        background-size: cover;
        min-height: 80vh;
    }

    .workContainer > h3 {
        font-size: 3em;
    }
}

@media screen and (min-width: 1024px) {
    .homeContainer {
        max-width: 60%;
    }
}