/* CLASSES */
.aboutContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.aboutImg {
    opacity: 1;
    width: 100%;
}

.aboutMessage {
    color: white;
}

.homeContainer {
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
}

.homeContainer h1 {
    color: white;
}

.selectedWord {
    background-color: rgb(1, 1, 125);
    box-shadow: 0px 0px 5px 5px rgb(1, 1, 125);
    color: rgb(238, 243, 239);
    font-family: fantasy;
    font-weight: bold;
}

.workContainer {
    background-color: rgb(2, 2, 114);
}

/* IDS */


/* MEDIA QUERIES */